doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title My-Shop
        link(rel="import" href="/public/nav.html")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia")
    body 
        header 
            include ../public/nav.html
            h1 This is My Book Shop
        main 
            if Books.length > 0
                each book in Books
                    content.bookStyle.container-fluid
                        .products
                            img.image(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVwDci-gzNUitwZChCrr7CtBTUjL6zrkrDgecY8y0tiU31pWGTtQbiVlG-QwjhIFnuTUU&usqp=CAU" alt="Book1") 
                            .cardCont 
                                .text 
                                b Title: 
                                p #{book.title}
                                b Author: 
                                p Robert Greene
                                .btnCss 
                                    button.btn.btn-primary(type="submit") Add to Cart 
                                    button.btn.btn-primary(type="submit") Buy now
                                    a.btn.btn-primary(href="/admin/delete-item") Remove
            else 
                h1 No Books to Show!!
