doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Products-Cart
        link(rel="stylesheet" href="../css/style.css")
    body 
        header 
            include ../public/nav.html
        main 
            .format
                h3 Shopping Cart
                if cartItems.length > 0
                    .section
                        div.container
                            for prods in cartItems
                                hr(style="width:100%;text-align:left;margin-left:0")
                                .products
                                    img.image(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVwDci-gzNUitwZChCrr7CtBTUjL6zrkrDgecY8y0tiU31pWGTtQbiVlG-QwjhIFnuTUU&usqp=CAU" alt="Book1")               
                                    .cardCont.container
                                        .text
                                        b Title:
                                        p #{prods.title}
                                        b Author:
                                        p #{prods.author}
                                        b Price:
                                        p #{prods.price}
                                            .actions 
                                                //- button.btn(type="submit") Buy
                                                b Qty: #{prods.qty}
                        div.totalCart
                            form(action="" method="post") 
                                h3 Subtotal : 
                                button.btn(type="submit") Proceed to Buy
                else 
                    h1 Add Items to Cart...!!!