doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Details
        link(rel="stylesheet" href="/css/style.css")
    body 
        header 
            include ../public/nav.html
        main
            .content.container.bookStyle
                .format
                    .products
                        img.image(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVwDci-gzNUitwZChCrr7CtBTUjL6zrkrDgecY8y0tiU31pWGTtQbiVlG-QwjhIFnuTUU&usqp=CAU" alt="Book1")               
                        .cardCont.container
                            .text
                            b Title:
                            p #{product.title}
                            b Author:
                            p #{product.author}
                            b Price:
                            p #{product.price}
                    .discription 
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nesciunt reprehenderit, culpa excepturi provident aperiam adipisci quidem facilis iusto id quod, tempora, laudantium fugiat illo sapiente! Nisi sed culpa corrupti.
