.bookStyle {
  display: flex;
  align-items: center;
}
header {
  display: flex;
  flex-direction: column;
  text-align: center;
}
header store h1 {
  font-family: "Courier New", Courier, monospace;
  margin: 10px 20% 0 20%;
  border: transparent;
  border-radius: 35px;
  box-shadow: 5px 6px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: rgb(159, 240, 222);
}
.notice {
  text-align: center;
  h1 {
    font-size: medium;
  }
}
.bookName:hover{
  cursor: pointer;
}
.bookName a {
  color: black;
}
.bookName  a:hover {
  color: black;
}
.products {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 10px;
  margin-top: 20px;
}
.products p {
  padding: 5px;
  margin: 10px;
  /* text-align: center; */
}
.cardCont {
  padding: 2px 16px;
}
.image {
  padding: 10px;
}
.image:hover {
  cursor: pointer;
}
.btnCss {
  display: flex;
  flex-direction: row;
}
.btn {
  margin: 5px;
  background-color: rgb(248, 248, 8);
  min-width: 20%;
}
.btn:hover {
  margin: 5px;
  background-color: rgb(220, 235, 9);
  transition: 0.1s;
}
.format {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  background-color: rgb(246, 243, 248);
}
.discription {
  max-width: 50%;
}
.actions b {
  text-align: center;
  border: 1px solid rgb(224, 224, 233);
  border-radius: 5px;
  box-shadow: 0 4px 5px 0 rgba(31, 30, 30, 0.2);
  background-color: rgb(244, 241, 247);
  padding: 5px 15px 5px 15px;
}
.section {
  display: flex;
}
.totalCart {
  padding: 20px;
  width: 30%;
  margin: 10px;
  background-color: white;
}
