.card {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(138, 138, 145);
  text-align: center;
  padding: 1rem; 
  justify-content: center;
  gap: 2rem;
}

.card li {
  padding: 1.5rem; 
  list-style: none;
  background-color: rgb(82, 82, 142);
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgb(69, 64, 64);
  width: 520px;
  max-width: 100%;
}

.card li:hover {
  transition: 0.3s;
  transform: rotate(-2deg);
}

.card li img {
  width: 100%;
  max-width: 100%;
  height: 350px; 
  object-fit: cover;
}

@media (max-width: 768px) { 
  .card li {
    width: 100%;
  }

  .card li img {
    height: 250px; 
  }
}